body {
  margin: 0;
  padding: 0;
  /*font-family: sans-serif;*/
  font-family: 'Inconsolata', monospace;
}


/*default styling from https://www.kirupa.com/react/creating_single_page_app_react_using_react_router.html tutorial*/
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #111;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
/*end default styling from tutorial*/


/*React Router automatically assigns a class value of 'active' when you click on a link*/
.active {
  background-color: #0099FF;
}

.sidepane-placeholder, #building-map-info, #edit-map-pane {
  max-width: 30vw;
  border: green solid 3px;
  display: inline-block;
  vertical-align: top;
}

#map-container, #holds-map {
  width: 60vw;
  border: black solid 2px;
  display: inline-block;
  vertical-align: top;
}

#title {
  font-family: 'Inconsolata', monospace;
  text-align: center;
}

.full-page {
  text-align: center;
}

#building-map-info, #holds-map {
  display: inline-block;
}

.page-name {
  text-align: center;
}

.myMap:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}
