/*html, body, #root, #main {
  height: 100%;
}*/

body {
  margin: 0;
  padding: 0;
  /*font-family: sans-serif;*/
  font-family: 'Open Sans', sans-serif;
}

button {
  border: 0;
  border-radius: 10px;
  padding: 10px;
  font-size: 1em;
}

button:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

#delete-note-btn {
  padding: 0;
  display: inline-block;
  float: right;
  background-color: transparent;
  font-size: 14px;
  margin-bottom: 5px;
}

#delete-note-btn:hover {
  color: #d61b1b;
  box-shadow: none;
}

#show-note-btn {
  padding: 5px;
  background-color: transparent;
  font-size: 14px;
  color: #2057d8;
  border: lightgray solid 2px;
}

#show-note-btn:hover {
  border: #2057d8 solid 1px;
}

#add-marker-btn {
  display: block;
  margin-top: 5px;
  padding: 10px;
  padding-right: 14px;
  /*border: #15c435 solid 3px;*/
  background-color: #15c435;
}


#edit-notes-btn, #remove-marker-btn {
  font-size: 14px;
  background-color: transparent;
  padding: 0 5px;
  vertical-align: bottom;
}

#remove-marker-btn:hover::before {

}

#save-changes-btn {
  display: block;
  margin: 8px auto 0 auto;
  text-align: center;
  font-weight: bold;
  padding: 14px;
  font-size: 1.2em;
  /*background-color: #ff6d6d;*/
  background-color: #fc3232;
  box-shadow: 0 0 11px rgba(33,33,33,.2);
  /*background-color: transparent;*/
}

#view-place-btn {
  padding: 0;
  display: inline-block;
  background-color: transparent;
}

.marker-details, .marker-name h3, .marker-btns {
  display: inline-block;
  vertical-align: bottom;
}

#view-place-btns, .marker-btns {
  float: right;
}

/*div.content > div:first-child, #map-container-section, #map-container-section> section:first-child {
  height: 100%;
}*/


/*default styling from https://www.kirupa.com/react/creating_single_page_app_react_using_react_router.html tutorial*/

#header-container {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
ul.header li {
  display: inline-block;
  list-style-type: none;
  margin: 10px 14px;
  /*margin-left: 5px;*/
}
ul.header {
  background-color: grey;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  /*padding: 14px 20px 14px 20px;*/
  display: inline-block;
  position: relative
}

/*animated underline*/
ul.header li a:hover {
  color: #FFF;
}

ul.header li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

ul.header li a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
/*end animated underline*/

ul.header {
  margin: 0;
  padding: 3px;
}

.header .flt-right {
  float: right;
  padding-top: 10px;
}

ul {
  padding: 5px;
}

#home-link a {
  margin-left: 0;
  /*margin-right: 30px;*/
  font-size: 1.5em;
  color: black;
}
.content {
  background-color: #fff5ef;
  height: 100vh;
  /*overflow: scroll;*/
}

.mapList {
  background-color: #fff5ef;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

/*end default styling from tutorial*/


/*React Router automatically assigns a class value of 'active' when you click on a link*/
.active #home-link a {
  background-color: #0099FF;
}

#building-map-info{
  max-width: 35vw;
  display: inline-block;
  vertical-align: top;
}

#edit-map-pane, #view-map-pane {
  /*border-right: black solid 2px;*/
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  /*height: 100vh;*/
  max-width: 35vw;
  display: inline-block;
  vertical-align: top;
  background-color: snow;
}

.holds-map {
  width: 50vw;
  display: inline-block;
  vertical-align: top;
  position: absolute;
  height: 80vh;
  padding-right: 10px;
  padding-top: 14px;
  margin-left: 10px;
  /*text-align: center;*/
}

#title {
  font-family: 'Inconsolata', monospace;
  text-align: center;
}

#library-page-content {
  text-align: center;
}

#building-map-info, .holds-map {
  display: inline-block;
}

#building-map-info {
  overflow-y: scroll;
}

.page-name {
  text-align: center;
}

.myMap:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.myMap {
  display: inline-block;
}

.link-div {
  padding: 20px 0;
}
.map-link {
  margin-left: 5px;
  background: snow;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  /*border: black solid 1px;*/
}

.btn-container {
  margin-top: 20px;
  margin-bottom: 5px;
}

#googleSearch {
  margin: 10px;
  padding: 10px;
  width: 35vw;
  font-size: 1rem;
}

.submit-search {
  font-size: 1rem;
  border: 0;
  padding: 0 10px;
}

#building-map-info {
  height: 80%;
  overflow: scroll;
  background-color: white;
}

#marker-list-container, #edit-map-pane {
  word-wrap: break-word;
}

#marker-list-container {
  overflow-y: scroll;
}

p, h3, h5, h4, h2, h1 {
  margin: 3px;
}

ul.mapList li{
  list-style-type: none;
  /*background-image: url('https://mdn.mozillademos.org/files/11981/starsolid.gif');*/
  background-repeat: no-repeat;
  padding: 14px;
}

.map-item {
  width: 30%;
}

.marker-note {
  padding-left: 3px;
}

#search-box form {
  text-align: center;
  background-color: green;

}

#googleSearch::placeholder {
  font-size: 16px;
}

/*.map-item:before {
  font-family: 'Material Icons';
  content: "\E5CD";
  margin:0 5px 0 -15px;
  color: blue;
}*/

/*yellow background*/
/*#main, .content, body {
  background-color: #f7d54f;
}*/

#place-note-details-pane {
  overflow: scroll;
  height: 60%;
  border: black solid 2px;
  position: relative;
}

#place-note-details-pane > div:first-child {
  overflow:scroll;
}

#building-map-info, .holds-map {
  display: inline-block;
}

#place-details {
  overflow:scroll;
  position: relative;
}

#new-map-page {
  height: 100%
}

#new-map-form {
  margin: 0 auto;
  width: 60%;
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  background-color: snow;
  box-shadow: 0 19px 28px rgba(0,0,0,0.30), 8px 5px 14px rgba(0,0,0,0.22);
}

#new-map-form input {
  display: block;
  height: 42px;
  width: 80%;
  padding: 10px;
  margin: 5px auto;
  border-radius: 10px;
  font-size: 1.1em;
}

#new-map-form input[type=submit] {
  padding: 0;
  width: 42%;
  margin-top: 25px;
}

#new-map-page h2 {
  text-align: center;
  padding-top: 14vh;
  padding-bottom: 10px;
}

#welcome-page {
  text-align: center;
}

#welcome-intro-name {
  font-size: 4em;
  margin-bottom: 5px;
  text-align: left;
}

#welcome-msg-box {
  width: 60%;
  margin: 11% auto;
  background-color: white;
  padding: 23px;
  box-shadow: 0 19px 28px rgba(0,0,0,0.30), 8px 5px 14px rgba(0,0,0,0.22);
  border-radius: 10px;
  /*background-image: url(components/misc/map.png);
  background-repeat: no-repeat;
  background-position: right;*/
}

#welcome-msg-box h2 {
  font-size: 2em;
}

#welcome-msg {
  width: 90%;
  background: transparent;
}

/*#home-img img {
  height: 230px;
  width: 230px;
}*/


.full-page div {
  display: inline-block;
  background-color: white;
}

#home-start-link {
  display: block;
  margin: 30px 5px;
  text-align: center;
  padding: 10px;
  width: 30%;
  border: green solid 2px;
  border-radius: 25px;
  font-size: 1.1rem;
  text-decoration: none;
  color: green;
}

#home-subtitle {
  margin-left: 5px;
  width: 85%;
  background: transparent;
  text-align: left;
  display: block;
}

#map-marker-title {
  margin-top: 21px;
}

#edit-map-pane-header {
  /*box-shadow: 0 0 11px rgba(33,33,33,.2);*/
  background-color: snow;
  border-bottom: lightgray solid 1px;
  height: 30%;
}

.subtitle {
  color: gray;
  font-size: 14px;
  /*display: inline-block;*/
}

#add-note-form {
  width: 80%;
  margin: 0 auto;
  background-color: #fcea4b;
  border-radius: 5px;
}

#add-note-form input, #add-note-form textarea {
  display: block;
  width: 80%;
  padding: 4px 0;
  background-color: transparent;
  margin: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid lightgray;
}

#add-note-form textarea {
  background-color: white;
  height: 18vh;
  margin: 0 auto;
  width: 96%;
  border-radius: 5px;
}

#add-note-form select {
  background-color: transparent;
  width: 80%;
  padding: 4px 0;
  margin-left: 5px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid lightgray;
}

#add-note-form select:focus {
  outline: none;
}

#add-note-form input[type=submit] {
  margin: 10px auto;
  padding: 10px;
  border: 1px solid lightgray;
  width: 20%;
}

#notes-header h3, #notes-header button {
  display: inline-block;
}


.marker-item {
  margin: 0;
  list-style-type: none;
  /*padding: 10px;*/
  border-bottom: lightgray dotted .5px;
}

.place-notes {
  padding-top: 10px;
  padding-left: 5px;
}

#notes-list li {
  list-style-type: none;
  width: 60%;
  padding-bottom: 5px;
  border: lightgray dotted 1px;
  border-radius: 10px;
  background-color: white;
}

.note-text-section {
  background-color: white;
  overflow: scroll;
  margin: 0 auto;
  width: 90%;
}

.note-author, .note-text-section {
  display: inline-block;
  background-color: white;
  vertical-align: top;
  word-wrap: break-word;
}

.note-author {
  max-width: 20%;
}

.note-text-section {
  min-width: 75%;
}

.note-type {
  padding: 3px;
}

.note-type p {
  display: inline-block;
}

.note-recommendation .note-type {
  background-color: #ffb159;
}

.note-misc .note-type {
  background-color: #7af499;
}

.note-tip .note-type {
  background-color: lightblue;
}

.note-type p {
  margin: 0;
}

.place-img, .helpful-place-info {
  display: inline-block;
  vertical-align: middle;
  word-wrap: break-word;
}

.helpful-place-info {
  max-width: 75%;
}

.place-img {
  padding-left: 4px;
}

.loading-msg {
  margin: 0 auto;
  top: 50%;
}
