body {
  margin: 0;
  padding: 0;
  /*font-family: sans-serif;*/
  font-family: 'Open Sans', sans-serif;
}


/*default styling from https://www.kirupa.com/react/creating_single_page_app_react_using_react_router.html tutorial*/
ul.header li {
  display: inline;
  list-style-type: none;
  /*margin-left: 5px;*/
}
ul.header {
  background-color: grey;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 10px 10px 5px;
  display: inline-block;
  position: relative
}

/*animated underline*/
ul.header li a:hover {
  color: #FFF;
}

ul.header li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

ul.header li a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
/*end animated underline*/

ul.header {
  margin: 0;
}
ul {
  padding-left: 20px;
}
#home-link a {
  margin-right: 30px;
  font-size: 1.5em;
  color: black;
}
.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

/*end default styling from tutorial*/


/*React Router automatically assigns a class value of 'active' when you click on a link*/
.active, .active #home-link a {
  background-color: #0099FF;
}

.sidepane-placeholder, #building-map-info, #edit-map-pane {
  max-width: 35vw;
  border: green solid 3px;
  display: inline-block;
  vertical-align: top;
}

#map-container, .holds-map {
  width: 60vw;
  border: black solid 2px;
  display: inline-block;
  vertical-align: top;
}

#title {
  font-family: 'Inconsolata', monospace;
  text-align: center;
}

.full-page {
  text-align: center;
}

#building-map-info, .holds-map {
  display: inline-block;
}

.page-name {
  text-align: center;
}

.myMap:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

#edit-map-pane {
  height: 65vh;
}
.link-div {
  padding: 20px 0;
}
.map-link {
  margin-left: 5px;
  background: snow;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  border: black solid 1px;
}

#googleSearch {
  margin: 10px;
  padding: 10px;
  width: 35vw;
}

#building-map-info {
  height: 30vh;
  overflow: scroll;
}

.flt-right {
  float: right;
}

#marker-list-container {
  overflow: scroll;
}

p, h3, h5, h4, h2, h1 {
  margin: 3px;
}
/*
ul.mapList {
  list-style-image: url('https://mdn.mozillademos.org/files/11981/starsolid.gif');
}*/

/*ul.mapList {
  list-style-type: none;
}*/

ul.mapList li{
  list-style-type: none;
  background-image: url('https://mdn.mozillademos.org/files/11981/starsolid.gif');
  background-repeat: no-repeat;
  line-height: 30px;
  padding-left: 30px;

}

.map-item {
  width: 30%;
}
