body {
  margin: 0;
  padding: 0;
  /*font-family: sans-serif;*/
  font-family: 'Open Sans', sans-serif;
}


/*div.content > div:first-child, #map-container-section, #map-container-section> section:first-child {
  height: 100%;
}*/


/*default styling from https://www.kirupa.com/react/creating_single_page_app_react_using_react_router.html tutorial*/
ul.header li {
  display: inline;
  list-style-type: none;
  /*margin-left: 5px;*/
}
ul.header {
  background-color: grey;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px 20px 20px 5px;
  display: inline-block;
  position: relative
}

/*animated underline*/
ul.header li a:hover {
  color: #FFF;
}

ul.header li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

ul.header li a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
/*end animated underline*/

ul.header {
  margin: 0;
}
ul {
  padding-left: 20px;
}
#home-link a {
  margin-right: 30px;
  font-size: 1.5em;
  color: black;
}
.content {
  background-color: #fff5ef;
  height: 100vh;
}

.mapList {
  background-color: #fff5ef;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

/*end default styling from tutorial*/


/*React Router automatically assigns a class value of 'active' when you click on a link*/
.active, .active #home-link a {
  background-color: #0099FF;
}

.sidepane-placeholder, #building-map-info{
  max-width: 35vw;
  display: inline-block;
  vertical-align: top;
}

#edit-map-pane, #view-map-pane {
  border-right: black solid 2px;
  height: 100vh;
  max-width: 35vw;
  display: inline-block;
  vertical-align: top;
  background-color: snow;
}

.holds-map {
  min-width: 60vw;
  max-width: 65vw;
  display: inline-block;
  vertical-align: top;
  position: absolute;
  height: 80vh;
  padding-right: 10px;
  padding-top: 14px;
  margin-left: 10px;
}

#title {
  font-family: 'Inconsolata', monospace;
  text-align: center;
}

/*.full-page {
  text-align: center;
}*/

#building-map-info, .holds-map {
  display: inline-block;
}

.page-name {
  text-align: center;
}

.myMap:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.myMap {
  display: inline-block;
}

.link-div {
  padding: 20px 0;
}
.map-link {
  margin-left: 5px;
  background: snow;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  border: black solid 1px;
}
.btn-container {
  margin-top: 20px;
  margin-bottom: 5px;
}

#googleSearch {
  margin: 10px;
  padding: 10px;
  width: 35vw;
}

#building-map-info {
  height: 80%;
  overflow: scroll;
  background-color: white;
}

.flt-right {
  float: right;
}

#marker-list-container, #edit-map-pane {
  word-wrap: break-word;
}

p, h3, h5, h4, h2, h1 {
  margin: 3px;
}
/*
ul.mapList {
  list-style-image: url('https://mdn.mozillademos.org/files/11981/starsolid.gif');
}*/

/*ul.mapList {
  list-style-type: none;
}*/

ul.mapList li{
  list-style-type: none;
  /*background-image: url('https://mdn.mozillademos.org/files/11981/starsolid.gif');*/
  background-repeat: no-repeat;
  padding: 30px;
}

.map-item {
  width: 30%;
}

.marker-note {
  padding-left: 3px;
}

#search-box form {
  text-align: center;
  background-color: green;

}

#googleSearch::placeholder {
  font-size: 16px;
}

/*.map-item:before {
  font-family: 'Material Icons';
  content: "\E5CD";
  margin:0 5px 0 -15px;
  color: blue;
}*/

/*yellow background*/
/*#main, .content, body {
  background-color: #f7d54f;
}*/

#place-note-details-pane {
  overflow: scroll;
  height: 40%;
  border: black solid 2px;
  position: relative;
}

#place-note-details-pane > div:first-child {
  overflow:scroll;
}

#building-map-info, .holds-map {
  display: inline-block;
}

#place-details {
  overflow:scroll;
  position: relative;
}

#new-map-page {
  height: 100%
}

#new-map-form {
  margin: 0 auto;
  width: 60%;
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  background-color: snow;
  box-shadow: 0 19px 28px rgba(0,0,0,0.30), 8px 5px 14px rgba(0,0,0,0.22);
}

#new-map-form input {
  display: block;
  height: 42px;
  width: 80%;
  margin: auto;
  border-radius: 5px;
  font-size: 1.1em;
}

#new-map-form input[type=submit] {
  padding: 0;
  width: 42%;
  margin-top: 25px;
}

#new-map-page h2 {
  text-align: center;
  padding-top: 14vh;
  padding-bottom: 10px;
}

#welcome-intro-name {
  font-size: 4em;
  margin-bottom: 5px;
}

#welcome-msg-box {
  width: 50%;
  margin-top: 11%;
  margin-left: 10%;
  background-color: white;
  padding: 23px;
  box-shadow: 0 19px 28px rgba(0,0,0,0.30), 8px 5px 14px rgba(0,0,0,0.22);
  border-radius: 10px;
}

#welcome-msg-box h2 {
  font-size: 2em;
}

.full-page div {
  display: inline-block;
  background-color: white;
}

#home-start-link {
  display: block;
  margin: 30px 5px;
  text-align: center;
  padding: 10px;
  width: 30%;
  border: green solid 2px;
  border-radius: 25px;
  font-size: 1.1rem;
  text-decoration: none;
  color: green;
}

#home-subtitle {
  margin-left: 5px;
}

#map-marker-title {
  margin-top: 30px;
}

#edit-map-pane-header {
  /*box-shadow: 0 0 11px rgba(33,33,33,.2);*/
  background-color: snow;
  border-bottom: lightgray solid 1px;
}

html, body, #root, #main {
  height: 100%;
}

.subtitle {
  color: gray;
  font-size: 14px;
}

#add-note-form input {
  display: block;
}

.marker-item {
  list-style-type: none;
  padding: 10px;
  border-bottom: lightgray dotted .5px;
}

.place-notes {
  padding-top: 10px;
}

#notes-list li {
  list-style-type: none;
  width: 60%;
  border-bottom: lightgray dotted 1px;
}

.note-text-section {
  background-color: white;
  overflow: scroll;
  margin: 0 auto;
  width: 90%;
}

.note-type {
  text-align: right;
}

.note-recommendation .note-type {
  background-color: red;
}

.note-tip .note-type {
  background-color: lightblue;
}

.note-type p {
  margin: 0;
}

.place-img, .helpful-place-info {
  display: inline-block;
  vertical-align: middle;
}

.place-img {
  padding-left: 4px;
}
