body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


/*default styling from https://www.kirupa.com/react/creating_single_page_app_react_using_react_router.html tutorial*/
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #111;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #FFF;
  padding: 20px;
  width: 30vw;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
/*React Router automatically assigns a class value of 'active' when you click on a link*/
.active {
  background-color: #0099FF;
}
